@import url('http://fonts.googleapis.com/css?family=Ubuntu');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
// normal

*,body,div {
  margin:0;
  padding:0;
}

a:link {
	text-decoration: none;
	color: #4671D5;
}

a:hover {
	color: #6C8CD5;
}

a:active,:visited {
	text-decoration: underline;
	color: #2A4480;
}


.wrapper {
	margin: 0px;
	padding: 0px;
	font-size:10pt;
	font-family: 'Ubuntu', arial;
	line-height: 1.5em;
	color:#333;
}

header, footer {
  width:20%;
  height:100%;
  margin:0px;
  padding; 0px;
  position:fixed;
  color:#333;
}

header {
  float:left;
}

header div {
	margin: 10px;
}

header div img.logo {
	width: 100%;
	border-radius: 16px;
}

header select,button {
	width: 95%;
	margin: auto;
}

footer {
	top:0px;
	right:0px;
}

footer div {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0px;
}

section {
  margin-left: 21%;
  margin-right: 21%;
  background: transparent;
  padding: 4px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

section div#tabs-wrapper {
	height: 720px;
}

div#tabs-wrapper div img.t4t-img {
	width: 240px;
	border: none;
	padding: 24px;
	cursor: pointer;
}

h1, h2, h3 {
	font-size: 12pt;
}

h4, h5 {
	font-size: 10pt;
}



// mobile horizontal
@media print, screen and (max-width < 1200) {
	footer {
		width: 5%;
	}

}

// mobile vertical
@media print, screen and (device-width < 720) {

}
